<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header class="container">
      <h1 class="heading-1">My Sass Components</h1>
    </header>

    <section class="container">
      <h2 class="heading-2">Cards</h2>
      <div class="flex-grid">
        <div class="card shadow-1">
          <img
            src="https://images.pexels.com/photos/2530912/pexels-photo-2530912.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="converse sneakers"
            class="card__image"
          />
          <h3 class="card__title">Card Title</h3>
          <p class="card__date">Fri, 22 May 2020</p>
          <p class="card__caption">
            This is the card description. Can you describe more about this card.
            I prefer not to use loerm ipsum for this.
          </p>
        </div>
        <div class="card shadow-2">
          <img
            src="https://images.pexels.com/photos/4048182/pexels-photo-4048182.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="converse sneakers"
            class="card__image"
          />
          <h3 class="card__title">Card Title</h3>
          <p class="card__date">Fri, 22 May 2020</p>
          <p class="card__caption">
            This is the card description. Describe more about this card. I
            prefer not to use lorem ipsum
          </p>
        </div>
        <div class="card shadow-3">
          <img
            src="https://images.pexels.com/photos/2530912/pexels-photo-2530912.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="converse sneakers"
            class="card__image"
          />
          <h3 class="card__title">Card Title</h3>
          <p class="card__date">Fri, 22 May 2020</p>
          <p class="card__caption">
            This is the card description. Can you describe more about this card.
            I prefer not to use loerm ipsum for this.
          </p>
        </div>
        <div class="card shadow-4">
          <img
            src="https://images.pexels.com/photos/2530912/pexels-photo-2530912.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="converse sneakers"
            class="card__image"
          />
          <h3 class="card__title">Card Title</h3>
          <p class="card__date">Fri, 22 May 2020</p>
          <p class="card__caption">
            This is the card description. Can you describe more about this card.
            I prefer not to use loerm ipsum for this.
          </p>
        </div>
        <div class="card shadow-5">
          <img
            src="https://images.pexels.com/photos/2530912/pexels-photo-2530912.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="converse sneakers"
            class="card__image"
          />
          <h3 class="card__title">Card Title</h3>
          <p class="card__date">Fri, 22 May 2020</p>
          <p class="card__caption">
            This is the card description. Can you describe more about this card.
            I prefer not to use loerm ipsum for this.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
